VisualElement {
}

.menu-button {
    width: 300px;
    height: 60px;
}

.level-button {
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Exo2-VariableFont_wght.ttf?fileID=12800000&guid=06cc052497f62034fb43e3edf087d21a&type=3#Exo2-VariableFont_wght");
    width: 120px;
    height: 120px;
    font-size: 24px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-top: 15px;
    margin-right: 90px;
    margin-bottom: 15px;
    margin-left: 90px;
}

.about-text {
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 32px;
    color: rgb(255, 255, 255);
}
