:root {
}

.menu-button {
    background-color: rgba(14, 14, 14, 0);
    color: rgb(255, 255, 255);
    font-size: 24px;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Exo2-VariableFont_wght.ttf?fileID=12800000&guid=06cc052497f62034fb43e3edf087d21a&type=3#Exo2-VariableFont_wght");
}



.menu-title {
    background-color: rgba(14, 14, 14, 0);
    color: rgb(255, 255, 255);
    font-size: 24px;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Exo2-VariableFont_wght.ttf?fileID=12800000&guid=06cc052497f62034fb43e3edf087d21a&type=3#Exo2-VariableFont_wght");
    -unity-font-style: bold;
}
